@{
    ViewBag.Title = "Contact";
}
<h2 class="bc-h">@ViewBag.Title</h2>
<h3 class="bc-h">@ViewBag.Message</h3>


<address>
    <strong>Mail:&nbsp; </strong>   <a href="mailto:info@BelofteCheck.nl">info@BelofteCheck.nl</a><br />
   
</address>