@{
    ViewBag.Title = "Home Page";
}

<div class="bc-image">

    <div class="bc-animation">

    </div>
    <div class="bc-marquee2">
        <marquee class="bc-marquee">
            Check wat de politieke partijen daadwerkelijk doen in de Tweede Kamer en welke beloften ze wel en welke ze niet inlossen
        </marquee>
    </div>
</div>