@{
    ViewBag.Title = "Over ons";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Deze site volgt het stemgedrag van de tweede-kamerfracties zodat je kan zien in welke mate zij de verkiezingsbeloften ook daadwerkelijk nakomen. 
<br/>Tevens kan je zien welke partijen qua stemgedrag het dichtst in de buurt komen van jou eigen mening</p>
