body {
    padding: 1%;
}

/* Set padding to keep content from hitting the edges */
.bc-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    overflow: visible;
    padding: 0;
    margin: 0;
}

.bc-top {
    width: 100%;
    height: 10%;
    float: left;
    background-color: lightgreen;
}

.bc-mid {
    width: 100%;
    height: 80%;
    float: left;
    background-color: lightgreen;
}
.bc-left {
    width: 10%;
    height: 80%;
    float: left;
    background-color: lightgreen;
}
.bc-content {
    width: 80%;
    height: 80%;
    float: left;
    background-color: lightyellow;
    padding: 1%;
}
.bc-right {
    width: 10%;
    height: 80%;
    float: left;
    background-color: lightgreen;
}
.bc-foot {
    width: 100%;
    height: 10%;
    float: left;
    background-color: lightgreen;
    text-align: center;
}
.bc-ullink {
    width: 80%;
    list-style-type: none;
}
.bc-uc {
    width: 100%
}

.bc-title {
    text-align: center;
    font-size: 30px;
    font-family: BATAVIA;

}
.bc-table {
    width: 100%;
    margin: 1;
    text-align: left;
}

.bc-table tr:nth-child(even) {
    background-color: yellow;
}

.bc-table tr:nth-child(odd) {
    background-color: yellow;
}

.bc-table th {
    background-color: lightblue;
    text-align: left;
    margin: 0;
    padding: 1%;
}

.bc-table td {
    text-align: left;
    margin: 0; 
    padding: 1%;
}
.bc-08 {
    width: 8%;

}
.bc-16 {
    width: 16%;
 
}
.bc-36 {
    width: 36%;
 
}
.bc-40 {
    width: 40%;

}
.bc-area textarea {
    width: 90%; 
    max-width: 90%;
    margin: 1%;
   
}


    


