body {
    padding: 1%;
}

/* Set padding to keep content from hitting the edges */
.bc-wrapper {
    width: 100%;
    height: 100%;
    float: left;
    overflow: visible;
    padding: 0;
    margin: 0;
}

.bc-top {
    width: 100%;
    height: 10%;
    float: left;
    background-color: lightgreen;
}

.bc-mid {
    width: 100%;
    height: 80%;
    float: left;
    background-color: lightgreen;
}
.bc-left {
    width: 15%;
    height: 80%;
    float: left;
    background-color: lightgreen;
}
.bc-content {
    width: 80%;
    height: 80%;
    float: left;
    background-color: lightyellow;
    padding: 1%;
}
.bc-right {
    width: 5%;
    height: 80%;
    float: left;
    background-color: lightgreen;
}
.bc-foot {
    width: 100%;
    height: 10%;
    float: left;
    background-color: lightgreen;
    text-align: center;
}
.bc-ullink {
    width: 80%;
    list-style-type: none;
}
.bc-uc {
    width: 100%
}

.bc-title {
    text-align: center;
    font-size: 30px;
    font-family: BATAVIA;

}
.bc-table {
    width: 98%;
    margin: 1%;
    text-align: left;
}

.bc-table tr:nth-child(even) {
    background-color: yellow;
}

.bc-table tr:nth-child(odd) {
    background-color: yellow;
}

.bc-table th {
    background-color: lightblue;
    text-align: left;
    margin: 0;
    padding: 1%;
}

.bc-table td {
    text-align: left;
    margin: 0; 
    padding: 1%;
}
.bc-table2 {
    width: 98%;
    margin: 1%;
    text-align: left;
}

.bc-table2 tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

.bc-table2 tr:nth-child(odd) {
    background-color: lightgray;
}

.bc-table2 th {
    background-color: lightblue;
    text-align: left;
    margin: 0;
    padding: 1%;
}

.bc-table2 td {
    text-align: left;
    margin: 0;
    padding: 1%;
}
.bc-08 {
    width: 8%;
}
.bc-16 {
    width: 16%;
 
}
.bc-36 {
    width: 36%;
 
}
.bc-40 {
    width: 40%;

}
.bc-area textarea {
    width: 90%; 
    max-width: 90%;
    margin: 1%;
   
}
.bc-field textarea {
    font-size: inherit;
    color: black;
    font-family: sans-serif;
}
.bc-field select {
    width: 95%;
}
.bc-field {
    display: block;
    box-sizing: border-box;
    width: 95%;
    height: auto;
    padding: 1%;
    margin: 1%;
    font-size: inherit;
    color: black;
    background-color: lightgray;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input[disabled], textarea[disabled],
select[disabled='disabled'] {
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
}
input[readonly], textarea[readonly],
select[readonly='readonly'] {
    -webkit-text-fill-color: #333333;
    color: #333333;
    background-color: #eeeeee;
}

.bc-field:focus:not([readonly]),
.bc-field:active:not([readonly]) {
    border-color: darkblue;
    background-color: lightblue;
    color: black;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.bc-field:read-only {
    -webkit-text-fill-color: #333333;
    color: #333333;
    background-color: #eeeeee;
}

.bc-field:disabled {
    -webkit-text-fill-color: #333333;
    color: #333333;
    background-color: #eeeeee;
}

.bc-field:enabled:read-only {
    -webkit-text-fill-color: #333333;
    color: #333333;
    background-color: #eeeeee;
}

.bc-field:enabled:not([readonly]) {
    background-color: antiquewhite;
    color: black;
}
/*
.bc-field::-webkit-outer-spin-button,
.bc-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 1%;
}
    */
.bc-error {
    color: #b94a48;
}
.bc-button {
    color: black;
    background-color: lightskyblue;
    border-color: darkblue;
    font-size: larger;
    margin: 3%;
    border-radius: 12px;
}
.bc-button:hover {
    background-color: lightgreen;
}
.bc-button:disabled:hover {
    background-color: red;
}    


