@model BelofteCheck.ViewModels.PartijenVM

<h2 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Title)</h2>

<h3 class="bc-h">@Html.DisplayFor(model => model.MessageSection.Message)</h3>

<div>
    &nbsp;
</div>
<p>&nbsp;</p>
<p>
    @Html.ActionLink("Naar Overzicht", "Index")
</p>
