<connectionStrings>  
    <add name="DefaultConnection" connectionString="Data source=adhc\sqlexpress;initial catalog=BelofteCheck-logon;integrated security=True" providerName="System.Data.SqlClient"/>
    <add name="BCentities" connectionString="metadata=res://*/BCmodel.csdl|res://*/BCmodel.ssdl|res://*/BCmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adhc\sqlexpress;initial catalog=BelofteCheck;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
</connectionStrings>