<connectionStrings>
  <add name="DefaultConnection" connectionString="Data source=.\MSSQLSERVER2019;initial catalog=k44755_BelofteCheck-logon;User Id=AdhcAdmin;Password=Iw@n!t2W;integrated security=True" providerName="System.Data.SqlClient" />
  <add name="BCentities" connectionString="metadata=res://*/BCmodel.csdl|res://*/BCmodel.ssdl|res://*/BCmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\MSSQLSERVER2019;initial catalog=k44755_BelofteCheck;User Id=AdhcAdmin;Password=Iw@n!t2W;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>